/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Clientes)
|   ---------------------------------------------------------------------------------
|   
|
*/



.clientes{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    height: max-content;
    gap: 3rem;
}

.clientes__container{
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 10rem;
}
    @media screen and (min-width: 657px) and (max-width: 1070px) {
        .clientes__container{
            padding: 0 5rem;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 656px) {
        .clientes__container{
            padding: 0 1rem;
        }
    }
    

.clientes__image{
    width: 15rem;
    height: 10rem;
}

.clientes__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
