/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Contacto)
|   ---------------------------------------------------------------------------------
|   
|
*/



.contacto{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    background-color: var(--color-gray-900);
    height: max-content;
}
    @media screen and (min-width: 300px) and (max-width: 900px) {
        .contacto{
            padding: 2rem;
            flex-direction: column;
            gap: 3rem;
        }
    }


.contacto__content{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
}
    @media screen and (min-width: 300px) and (max-width: 900px) {
        .contacto__content{
            width: 100%;
            gap: 2rem !important;
            padding-top: 1rem;
        }
    }

.contacto__content p, a{
    color: white;
    text-decoration: none;
    text-align: center;
}   

    @media screen and (min-width: 1840px) {
        .contacto__content p, a{
            font-size: 1.5rem;
        }
    }

.contacto__content--between{
    justify-content: space-between;
}    

.contacto__content--w20{
    width: 20%;
}

.contacto__content--w30{
    width: 30%;
}

.contacto__content--w50{
    width: 50%;
}  


.contacto__content--w70{
    width: 70%;
}  


.contacto__form-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.contacto__form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
}
    @media screen and (min-width: 300px) and (max-width: 900px) {
        .contacto__form{
            width: 100%;
        }
    }

    @media screen and (min-width: 1840px)  {
        .contacto__form{
            gap: 2rem;
        }
    }


.contacto__content iframe{
    width: 100%;
    height: 50%;
    border: 0;
}
    @media screen and (min-width: 300px) and (max-width: 900px) {
        #mapa{
            display: none;
        }
    }
    

.contacto__form .button{
    align-self: center;
}

   