<section class="clientes" id="clientes">

    <h2 class="title title--dark">Nuestros clientes</h2>
    <h3 class="subtitle">Contamos con su confianza.</h3>

    <div class="clientes__container">

        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/gilbane.png" alt="Gilbane" title="Gilbane">
        </div>
        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/yura.png" alt="Yura" title="Yura">
        </div>
        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/fives.png" alt="fives" title="fives">
        </div>
        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/hyundai.png" alt="Hyundai Steel" title="Hyundai Steel">
        </div>

        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/kone.png" alt="Kone" title="Kone">
        </div>
        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/littelfuse.png" alt="Littelfuse" title="Littelfuse">
        </div>
        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/gdcopper.png" alt="GDCOPPER" title="GDCOPPER">
        </div>
        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/walbridge.png" alt="Walbridge" title="Walbridge">
        </div>

        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/uvm.png" alt="UVM" title="UVM">
        </div>
        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/coliseo.png" alt="Coliseo" title="Coliseo Centenario">
        </div>
        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/tec-milenio.png" alt="Universidad Tecmilenio" title="Universidad Tecmilenio">
        </div>
        <div class="clientes__image" data-aos='zoom-in'>
            <img src="resources/img/clientes/tec-monterrey.png" alt="Tecnológico de Monterrey" title="Tecnológico de Monterrey"> 
        </div>
       
    </div>
   

</section>