/*
|   ---------------------------------------------------------------------------------
|   @Components (Slider)
|   ---------------------------------------------------------------------------------
|
*/



.container-glider{
    position: relative;
    width: 100%;
    height: 80%;
  }
    @media screen and (min-width: 300px) and (max-width: 550px) {
        .container-glider{
            height: 100%;
        }
    }


.card{
    width: 100%;
    height: 10rem;
}

.card img{
    width:  100%;
    height: 40rem;
    object-fit: cover;
}
    @media screen and (min-width: 300px) and (max-width: 550px) {
        .card img{
            height: 60rem;
        }
    }
    
   
.glider{
    position: relative;

}
