/*
|   ---------------------------------------------------------------------------------
|   @Components (Title)
|   ---------------------------------------------------------------------------------
|
*/



.title{
    font-family: var(--ff-titulo);
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: var(--fs-titulo);
}

.title--dark{
    color: var(--color-gray-900);
}

.subtitle{
    font-family: var(--ff-texto);
    color: var(--color-gray-900);
    font-weight: normal;
    text-align: center;
    font-size: 2rem;
}